@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */

/* Based on https://github.com/GeoffSelby/tailwind-md-base?tab=readme-ov-file#default-config */
@layer base {
  :root {
    --background-rgb: 245 243 222;
    --general-500-rgb: 0 86 198;
    --general-200-rgb: 185 213 230;
    --general-100-rgb: 185 213 230; /* same as general-200 for now */
    --accent-rgb: 86 235 0;
    /* --warning-rgb: 245 228 174; */
    --attention-rgb: 255 45 28;
    --disabled-100-rgb: 218 215 196;
    --disabled-200-rgb: 183 183 173;
    --on-light-rgb: 0 86 198; /* same as general-500 */
    --on-dark-rgb: 245 243 222; /* same as background */
    /* --on-warning-rgb: 126 88 33; */
    /* --on-attention-rgb: 155 34 25; */
    --on-disabled-rgb: 84 84 84;
    --nav-icon-width: 1.5rem;
  }

  html,
  body {
    @apply bg-background text-general font-sans font-light;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold mt-12 mb-4;
  }

  h1 {
    @apply text-6xl text-center;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl font-sans;
  }

  h4 {
    @apply text-xl font-sans;
  }

  h5 {
    @apply text-lg font-sans;
  }

  h6 {
    @apply text-base font-sans;
  }

  p {
    @apply mb-4 leading-tight;
  }

  a {
    @apply font-semibold underline underline-offset-1;
  }

  a:hover {
    @apply text-accent;
  }

  blockquote {
    @apply border-accent border-l-4 font-normal italic my-8 pl-6;
  }

  code {
    @apply bg-general text-background px-1 py-px rounded text-sm;
  }

  /* code block */
  pre {
    @apply my-8;
  }

  hr {
    @apply border-accent my-12;
  }

  ul,
  ol {
    @apply list-outside my-4 ml-8 leading-tight;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  ul > li,
  ol > li {
    @apply mb-2;
  }

  strong {
    @apply font-semibold;
  }

  .styled-scrollbars,
  .styled-scrollbars--general {
    --scrollbar-foreground: rgb(var(--general-200-rgb));
    --scrollbar-background: transparent;
    /* Foreground, Background */
    scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
  }

  /* .styled-scrollbars--light {

  } */

  .styled-scrollbars::-webkit-scrollbar {
    width: 10px; /* Mostly for vertical scrollbars */
    height: 10px; /* Mostly for horizontal scrollbars */
  }

  .styled-scrollbars::-webkit-scrollbar-thumb {
    /* Foreground */
    background: var(--scrollbar-foreground);
  }

  .styled-scrollbars::-webkit-scrollbar-track {
    /* Background */
    background: var(--scrollbar-background);
  }

  .nav-icon {
    cursor: pointer;
    display: inline-block;
    /* margin-right: 1rem; */
    width: var(--nav-icon-width);
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
  }

  .nav-icon:after,
  .nav-icon:before,
  .nav-icon span {
    margin: calc(var(--nav-icon-width) / 6) auto;
    display: block;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    content: "";
    height: calc(var(--nav-icon-width) / 6);
    width: var(--nav-icon-width);
    background-color: rgb(var(--color-primary));
  }

  .nav-icon.nav-icon--open:before {
    transform: translateY(calc(var(--nav-icon-width) / 3)) rotate(135deg);
    -webkit-transform: translateY(calc(var(--nav-icon-width) / 3))
      rotate(135deg);
    -moz-transform: translateY(calc(var(--nav-icon-width) / 3)) rotate(135deg);
  }

  .nav-icon.nav-icon--open:after {
    transform: translateY(calc(-1 * var(--nav-icon-width) / 3)) rotate(-135deg);
    -moz-transform: translateY(calc(-1 * var(--nav-icon-width) / 3))
      rotate(-135deg);
    -webkit-transform: translateY(calc(-1 * var(--nav-icon-width) / 3))
      rotate(-135deg);
  }

  .nav-icon.nav-icon--open span {
    transform: scaleX(0);
    -moz-transform: scaleX(0);
    -webkit-transform: scaleX(0);
  }

  .animate {
    transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -webkit-transition: all 0.35s ease-out;
  }

  .nav-menu {
    overflow: hidden;
    /* hidden by default */
    height: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .nav-menu.open {
    /* subtract the height of the nav-header */
    /* height: calc(100vh - 4rem); */
    height: 100dvh;
    height: 100vh;
  }

  .nav-menu > .nav-link-container {
    /* again, subtract the height of the nav-header to v-center the elements */
    height: calc(100% - 4rem);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    row-gap: 6rem;
    color: white;
  }

  /* .nav-menu > .nav-link-container > a {
    text-align: center;
    color: #fec31d;
    font-size: 2rem;
  } */

  .heading-link a {
    @apply text-general hover:text-accent no-underline;
  }

  .callout * {
    @apply mb-0;
  }
}

/* TODO move to own file? */

.task {
  @apply bg-general-100 text-onlight;
  /* prevent the options menu from "popping" during transitions, see https://stackoverflow.com/a/19311234 */
  z-index: 0;
  transition: z-index 0.5s step-end;
}

.task--selected {
  /* prevent the options menu from "popping" during transitions, see https://stackoverflow.com/a/19311234 */
  z-index: 20;
  transition: z-index 0.5s step-start;
}

.task--completed {
  @apply bg-disabled-100 text-ondisabled;
}

.task__checkbox {
  @apply border-onlight cursor-pointer;
}

.task--completed .task__checkbox {
  @apply border-ondisabled;
}

.task__checkbox--disabled {
  @apply border-disabled-200 cursor-default;
}

.task--completed .task__checkbox--disabled {
  @apply border-ondisabled cursor-default;
}

.task__checkbox--disabled::before {
  content: "";
  @apply absolute border-t-2 border-t-disabled-200 w-[1.414rem] -rotate-45 top-2 -left-1;
}

.task--completed .task__checkbox--disabled::before {
  display: none;
}

.task__overdue-chip {
  @apply bg-attention text-ondark;
}

.task--completed .task__overdue-chip {
  @apply bg-disabled-100 text-ondisabled;
}

/* default loader styles apply to active (not completed) tasks */

.task--completed .task__loader {
  @apply border-r-ondisabled border-b-ondisabled;
}

.task__date-range--attention {
  @apply text-attention;
}

.task--completed .task__date-range {
  @apply text-inherit;
}
